* {
  box-sizing: border-box;
}

.App {
  display: grid;
  grid-template-columns: 300px auto;
  grid-template-rows: auto;
  grid-template-areas: 
    "sidebar main"
  ;
  height: 100vh;
}

.content {
  grid-area: "main";
  background-color: slategray;
}